---
http_interactions:
- request:
    method: post
    uri: https://api.dailymotion.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=c3351d64b26451efd06649aea019228b&client_id=e941854ed7eb772968c84722ab50e079&client_secret=330cb083b2cf3d266cbddd0bfa7883e4&scope=manage_videos
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-dm-backnode:
      - 195.8.215.130:80
      content-type:
      - application/json
      x-dm-page:
      - fr.html.oauth
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"ODVaAwVGHV0bXxdEC14VBwcUFERVGEI","expires_in":36000,"refresh_token":"7a712b644185b8d7a3241e3f82c45db36a22a31b","scope":"manage_videos","uid":"xd7k4v"}'
  recorded_at: Mon, 09 Jul 2012 21:50:20 GMT
recorded_with: VCR 2.2.2
