---
http_interactions:
- request:
    method: post
    uri: https://api.dailymotion.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=password&username=&password=&client_id=&client_secret=&scope=manage_videos
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-dm-backnode:
      - 195.8.215.170:80
      content-type:
      - application/json
      x-dm-page:
      - fr.html.oauth
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"YTQFBBhLUwMORwdPG1NbUwQYVFsIBBs","expires_in":36000,"refresh_token":"7a712b644185b8d7a3241e3f82c45db36a22a31b","scope":"manage_videos","uid":"xd7k4v"}'
  recorded_at: Wed, 08 Aug 2012 22:18:26 GMT
recorded_with: VCR 2.2.2
