<h2>Le dernier Klaxon !</h2>

<iframe frameborder="0" width="560" height="420" src="http://www.dailymotion.com/embed/video/x8huwu?logo=0"></iframe><br /><a href="http://www.dailymotion.com/video/x8huwu_klax-pont-06_fun" target="_blank">Klax&#039;pont #06</a> <i>par <a href="http://www.dailymotion.com/klaxpont" target="_blank">klaxpont</a></i>

<!--
<object width="560" height="420">
<param name="movie" value="http://www.dailymotion.com/swf/video/x8huwu?logo=0"></param><param name="allowFullScreen" value="true"></param><param name="allowScriptAccess" value="always"></param><param name="wmode" value="transparent"></param><embed type="application/x-shockwave-flash" src="http://www.dailymotion.com/swf/video/x8huwu?logo=0" width="560" height="420" wmode="transparent" allowfullscreen="true" allowscriptaccess="always"></embed></object><br />
<a href="http://www.dailymotion.com/video/x8huwu_klax-pont-06_fun" target="_blank">Klax&#039;pont #06</a> <i>par <a href="http://www.dailymotion.com/klaxpont" target="_blank">klaxpont</a></i>
-->
