/*
 *= require bootstrap
 *= require_self
*/

// @import "compass/reset";
// @import "compass";
// @import "blueprint";

$blueprint-grid-columns: 12;


$bg-color: #FFFFE3;
$main-color: #00C322;
$second-color: #FF1300;
$font-color: #000000;

$font-family: "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
$header-font-family: Cambria, Georgia, Times New Roman, Times, serif;

$content-size: 960px;


body {
  position: relative;
  padding-top: 70px;
}

iframe {
  border: 1px dotted #cccccc;
}


.navbar-fixed-top .brand {
  font-size: 2.8em;
  letter-spacing: .1em;
}